<a href="/bills">Home</a>
<a href="/bills/new">New Bill</a>
<a href="/logout">Log Out</a>


<% if !@user.bills.empty? %>
  <% @user.bills.each do |bill| %>
    <ul>
      <li><%= bill.name %> bill</li>
      <p>Amount Owed: $<%= bill.amount %>0</p>
      <p>Due Date: <%= bill.due_date %></p>
        <a href="/bills/<%=bill.id%>">View</a>
        <a href="/bills/<%=bill.id%>/edit">Edit</a>
        <a href="/bills/<%=bill.id%>/delete">Delete</a>      
    </ul>
  <% end %>
<% else %>
    <h1>Looks like you have no pending bills!</h1>
<% end %>
